*::-webkit-input-placeholder {
  color: #666;
  opacity: 1;
}
*:-moz-placeholder {
  color: #666;
  opacity: 1;
}
*::-moz-placeholder {
  color: #666;
  opacity: 1;
}
*:-ms-input-placeholder {
  color: #666;
  opacity: 1;
}

@font-face {
  font-family: RubikMonoOneRegular;
  font-style: normal;
  src: url(@/assets/fonts/RubikMonoOneRegular.ttf) format("truetype")
}

@font-face {
  font-family: ComfortaaRegular;
  font-style: normal;
  src: url(@/assets/fonts/ComfortaaRegular.ttf) format("truetype")
}

* {
  font-family: "RubikMonoOneRegular", sans-serif;
}

html,
body {
  height: 100%;
}
body input:focus:required:invalid,
body textarea:focus:required:invalid {
  color: #666;
}
body input:required:valid,
body textarea:required:valid {
  color: #666;
}
body {
  font-size: 16px;
  min-width: 320px;
  position: relative;
  line-height: 1.6;
  overflow-x: hidden;
  background-size: cover;
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}
ul {
  margin: 0;
  padding: 0;
}

button {
  cursor: pointer;
}


// Animations

.animated {
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.swing {
  animation: swing 1.5s;
  animation-timing-function: ease-in-out;
  -webkit-transform-origin: top;
  -moz-transform-origin: top;
  transform-origin: top;
}

@keyframes swing {
  20% {
    -webkit-transform: rotate(15deg);
    transform: rotate(15deg)
  }

  40% {
    -webkit-transform: rotate(-10deg);
    transform: rotate(-10deg)
  }

  60% {
    -webkit-transform: rotate(5deg);
    transform: rotate(5deg)
  }

  80% {
    -webkit-transform: rotate(-5deg);
    transform: rotate(-5deg)
  }

  to {
    -webkit-transform: rotate(0);
    transform: rotate(0)
  }
}